#searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 30vh;
    justify-content: flex-start;
}

#resultsDiv {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    > mat-card {
        margin: 2.5%;
        width: 20%;
        min-height: 15vh;
        filter: drop-shadow(1px 1px 1px #00000033);
        * {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        > mat-card-header.mat-mdc-card-header {
            cursor: pointer;
            display: block;
            
        }

        > mat-divider {
            width: 90%;
            align-self: center;
            margin-bottom: 1vh;
        }
    }
}

#searchSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#labelSearchInput {
    font-size: 3em;
    margin-bottom: 3vh;
}

#labelRadioSelect {
    font-size: 2em;
}

#searchInput {
    width: 50%;
}

#pageTitle{
    font-size: 3em;
}

mat-form-field {
    width: 50%;
}

@media all and (max-width: 1366px) {
    #resultsDiv {
        >mat-card {
            margin: 1.5%;
            width: 30.333%;
            min-height: 15vh;
        }
    }
}
@media all and (max-width: 800px) {
    #resultsDiv {
        >mat-card {
            margin: 2.0%;
            width: 45%;
            min-height: 15vh;
        }
    }
}
@media all and (max-width: 600px) {
    #resultsDiv {
        >mat-card {
            margin: 2.5%;
            width: 95%;
            min-height: 15vh;
        }
    }
}